<div class="container">
  <h2>Solicitação de compra</h2>

  <div class="ui-g">
    <div class="ui-g-1">
      <button pButton type="button" label="Novo"></button>
    </div>
    <div class="ui-g-1">
      <button pButton type="button" label="Excluir" class=" ui-button-danger"></button>
    </div>
  </div>

  <form>
    <div class="ui-g">

      <div class="ui-g-2 ui-fluid">
        <label for="">Código</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-8 ui-fluid">
        <label for="">Empresa</label>
        <p-dropdown [options]="empresas" [autoWidth]="false" placeholder="Selecione"></p-dropdown>
      </div>


      <div class="ui-g-12 ui-fluid">
        <label for="">Observação</label>
        <input pInputText type="text">
      </div>
      <div class="ui-g-12">
        <button pButton type="submit" label="Novo Insumo"></button>
      </div>

    </div>
  </form>

  <p-panel header="Insumos">

    <p-footer>
      <p>
        <p-table [value]="insumos">
          <ng-template pTemplate="header">
            <tr>
              <th class="col-h-n">nº</th>
              <th class="col-h-c">Codigo</th>
              <th class="col-h-d">Descrição</th>
              <th class="col-h-u">Und</th>
              <th class="col-h-q">Quant</th>
              <th class="col-h-dt">Data entrega</th>
              <th class="col-h-a">Açoes</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-i>
            <tr>
              <td class="col-b-n">1</td>
              <td class="col-b-c">34241</td>
              <td class="col-b-d">Cimento</td>
              <td class="col-b-u">kg</td>
              <td class="col-b-q">1231,1</td>
              <td class="col-b-dt">12/11/2121</td>
              <td class="col-b-a"></td>
              

            </tr>
          </ng-template>
        </p-table>
      </p>
    </p-footer>

  </p-panel>


</div>