        <p-table [value]="subgrupo" [responsive]="true" >
          <ng-template pTemplate="header">
            <tr>
              <th class="col-n">Nº</th>
              <th class="col-d">Descrição</th>
              <th class="col-a">Ações</th>
            </tr>
          </ng-template>
  
  
          <ng-template pTemplate="body" let-u>
            <tr >
              <td class="ui-b-n"> {{ u.id }}</td>
              <td>{{ u.name }}</td>
              <td class="col-acoes">
                <button pButton icon="pi pi-pencil"></button>
                <button pButton icon="pi pi-trash" (click)="removeSubgroup(subgroup)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
  