<p-panel header="Contatos">
  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="" [responsive]="true">
        <ng-template pTemplate="header">
          <tr>
            <th>Nº</th>
            <th>Nome</th>
            <th>Função</th>
            <th>Contato 01</th>
            <th>Contato 02</th>
            <th>E-mail</th>
            <th class="col-a-h"></th>
          </tr>
        </ng-template>
        <ng-template pYemplate="body" let-c>

        </ng-template>
      </p-table>
    </div>
  </div>
</p-panel>
<br>
<p-panel header="Insumos de fornecimento">
  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="" [responsive]="true">
        <ng-template pTemplate="header">
          <tr>
            <th>Nº</th>
            <th>Nome</th>
            <th>Unidade</th>
            <th>Classificação</th>
            <th>Subclassificação</th>
            <th class="col-a-h"></th>
          </tr>
        </ng-template>
        <ng-template pYemplate="body" let-c>

        </ng-template>
      </p-table>
    </div>
  </div>
</p-panel>