<div class="container">



  <form>
    <h1>Cadastro de empresas</h1>

    <div class="ui-g">
      <div class="ui-g-2 ui-fluid">
        <label for="">Código</label>
        <input type="text" pInputText formContrlName="">
      </div>
    </div>



    <div class="ui-g">
      <div class="ui-g-8 ui-fluid">
        <label for="">Razão Social</label>
        <input type="text" pInputText formContrlName="">
      </div>


      <div class="ui-g-4">
        <div class="image-card">
          <p-card>
            <p></p>

            <p-footer>
                <p-fileUpload name="myfile[]" url="./upload.php"
                [showCancelButton]="false" uploadLabel="Salvar"
                chooseLabel="Arquivo"
                ></p-fileUpload>
            </p-footer>
          </p-card>
        </div>
      </div>

      <div class="ui-g-8 ui-fluid">
        <label for="">Nome Fantasia</label>
        <input type="text" pInputText formContrlName="">
      </div>
    </div>


    <div class="ui-g">
      <div class="ui-g-2 ui-fluid">
        <label for="">CNPJ</label>
        <input type="text" pInputText formContrlName="">
      </div>
      <div class="ui-g-2 ui-fluid">
        <label for="">Inscrição Estadual</label>
        <input type="text" pInputText formContrlName="">
      </div>
      <div class="ui-g-2 ui-fluid">
        <label for="">Inscrição Municipal</label>
        <input type="text" pInputText formContrlName="">
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-2 ui-fluid">
        <label for="">Paiz</label>
        <input type="text" pInputText formContrlName="">
      </div>
      <div class="ui-g-3 ui-fluid">
        <label for="">Estado</label>
        <input type="text" pInputText formContrlName="">
      </div>
      <div class="ui-g-3 ui-fluid">
        <label for="">Bairro</label>
        <input type="text" pInputText formContrlName="">
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-7 ui-fluid">
        <label for="">Logradouro</label>
        <input type="text" pInputText formContrlName="">
      </div>
      <div class="ui-g-1 ui-fluid">
        <label for="">Nº</label>
        <input type="text" pInputText formContrlName="">
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12 ui-fluid">
        <label for="">Complemento</label>
        <input type="text" pInputText formContrlName="">
      </div>
      <div class="ui-g-12 ui-fluid">
        <label for="">Observação</label>
        <input type="text" pInputText formContrlName="">
      </div>

    </div>

    <div class="ui-g">
      <div class="ui-g-2 ui-fluid">
        <label for="">Telefone</label>
        <input type="text" pInputText formContrlName="">
      </div>
      <div class="ui-g-2 ui-fluid">
        <label for="">Telefone</label>
        <input type="text" pInputText formContrlName="">
      </div>
      <div class="ui-g-3 ui-fluid">
        <label for="">Site</label>
        <input type="text" pInputText formContrlName="">
      </div>
    </div>

    <div class="ui-g-12">
      <app-companysupplies-list></app-companysupplies-list>
    </div>



    <div class="ui-g-12">
      <button pButton type="submit" label="Salvar"></button>
    </div>

  </form>
</div>