<div class="container">
  <div class="ui-g">
    <div class="ui-g-6">
      <p-table [value]="grupo" [responsive]="true" selectionMode="single" [(selection)]="selectedGroup" dataKey="id"
      (onRowSelect)="onRowSelect($event)">
        <ng-template pTemplate="header">
          <tr>
            <th class="col-n">Nº</th>
            <th class="col-d">Descrição</th>
            <th class="col-a">Ações</th>
          </tr>
        </ng-template>


        <ng-template pTemplate="body" let-rowData let-u>
          <tr [pSelectableRow]="rowData">
            <td class="ui-b-n"> {{ u.id }}</td>
            <td>{{ u.name }}</td>
            <td class="col-acoes">
              <button pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></button>
              <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="summary">
          <div style="text-align: left">
       <!--    selecionado: {{selectedGroup.id | json}}
       -->  </div>
        </ng-template>

      </p-table>
    </div>
  </div>
</div>