/* You can add global styles to this file, and also import other style files */


@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


body {
    background-color: #eaeaea;
    font-family: 'Times New Roman', Times, serif;
  
}

form {
    background-color: rgb(246, 255, 254);
}



@media(min-width: 1170px){
    .container{
        width: 1200px;
        margin: 0 auto;
    }
}